<div class="container">
  <h1 class="mx-auto fs-1 text-center">Bienvenido {{user.first_name}}!</h1>
  <h4 class="mx-auto text-center">Email: {{user.email}}</h4>
  <h4 class="mx-auto text-center">Role: {{user.role}}</h4>
  <a class="btn btn-dark mt-auto align-self-start" href="/api/sessions/logout"><button>Logout</button></a>
  <div class="row mx-auto">
    <form action="/" method="get">
      <select class="form-select mx-auto" name="sort">
        <option value="null" selected>Order by Price</option>
        <option value="desc">Most Expensive First</option>
        <option value="asc">Least Expensive First</option>
      </select>
      <select class="form-select mx-auto" name="queryField">
        <option value="null">Filter Field</option>
        <option value="category">Category</option>
        <option value="stock">Stock Status</option>
      </select>
      <select class="form-select mx-auto" name="queryVal">
        <option value="null" selected>Filter Value</option>
        <option value="Figures">Figures</option>
        <option value="Manga">Manga</option>
        <option value="Gunpla">Gunpla</option>
        <option value="0">In Stock</option>
      </select>
      <button type="submit" class="btn btn-dark mx-auto">Filter</button>
    </form>
    {{#each docs}}
      <div id={{_id}} class="col-md-4 mb-3 d-flex align-items-stretch mx-auto">
        <div class="card" style="width: 18rem;">
          <img src={{thumbnails.[0]}} class="card-img-top" alt="Product image" />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text mb-4">{{description}}</p>
            <p class="card-text mb-4">${{price}} MXN</p>
            <button
              type="submit"
              class="btn btn-dark mt-auto align-self-start"
              onclick="addToCart('{{_id}}')"
            >Shop</button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination mx-auto">
      {{#if hasPrevPage}}
        <li class="page-item"><a
            class="page-link"
            href={{prevLink}}
          >Previous</a></li>
      {{/if}}
      {{#if hasNextPage}}
        <li class="page-item"><a
            class="page-link"
            href={{nextLink}}
          >Next</a></li>
      {{/if}}
    </ul>
  </nav>
</div>
<script src="/js/products.js"></script>